:root {
    background-color: #060f20;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    font-size: 15px;
    color: white;
}

.blogList {
    list-style-type: none;
}